.admin-aside{
  height: 100vh;
  padding-top: 20px;
  z-index: 999;

}

.demo-logo-vertical{
  padding: 0 20px;
}

.demo-logo-vertical h1{
  color: white;
  font-size: 30px;
}

.admin-main{
  height: calc(100vh - 112px);
  overflow: auto;
  background-image: url('https://media.giphy.com/media/Wy3Q0fuNIJmYn62Lcv/giphy-downsized-large.gif') !important;
  background-position: center;
  background-size: cover !important;
}


.dashboard-nav a{
  color: var(--Light, white);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.dashboard-nav button{
  padding: 8px 24px;
  margin-left: 59px;
  color: var(--Black, #232536);
  font-family: Sen;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; 
}


.dashboard-nav .header-right{
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 24px;
} 

.admin-layout svg{
  color: white;
}


.admin-layout header{
  background-color:#001529 !important
}
