#home{
  width: 100vw;
  height: 100vh;
  background-image: url('https://media.giphy.com/media/5k9BASk41i2NazAfIK/giphy.gif');
  background-position: center;
  background-size: cover;
  overflow: hidden;

  .home{
    z-index: 1;
    background-color: black;
    height: 100vh;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    opacity: 0.7;
  }
}

.three-pages{
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 9;
  .home-page{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1{
      color: white;
      opacity: 1 !important;
    }

    .reg-log{
      margin-top: 20px;
      display: flex;
      gap: 20px;

      *{
        color: white !important;
        padding: 5px;
        border-radius: 4px;
        border: 1px solid #ff4d4f ;
        transition: 0.5s;

        &:hover{
          background-color: #ff4d4f;
        }
      }
    }
  }

  label{
    color: white !important;
  }

  .login-page{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1{
      color: white;
    }

    button{
      width: 100%;
      background-color:#ff4d4f !important;
    }

    input{
      background-color: transparent !important;
      color: white !important;
    }

    span{
      background-color: transparent;
      color: white !important;
    }
  }

  .register-page{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1{
      color: white;
    }

    button{
      width: 100%;
      background-color:#ff4d4f !important;
    }

    input{
      background-color: transparent !important;
      color: white !important;
    }

    span{
      background-color: transparent;
      color: white !important;
    }
  }
}

.ant-message-notaice-content{
  background-color: blue;
}