#home{
  width: 100vw;
  height: 100vh;
  background-image: url('https://media.giphy.com/media/5k9BASk41i2NazAfIK/giphy.gif');
  background-position: center;
  background-size: cover;
  overflow: hidden;

  .home{
    z-index: 1;
    background-color: black;
    height: 100vh;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    opacity: 0.7;
  }
}

.three-pages{
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 9;
  .home-page{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1{
      color: white;
      opacity: 1 !important;
    }
  }

  .login-page{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1{
      color: white;
    }
  }

  .register-page{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1{
      color: white;
    }
  }
}